
/*Version mobile*/
@media all and (max-width: 1024px)
{
  body{
    background: black no-repeat url("clouds2_blur_mid.jpg") ;
    background-size: ;
    font-family: 'Raleway', sans-serif;
    margin:0;
    font-size: 1em;
  }


  /*Marges intérieures des cellules du tableau invisible */
  th,td{
    padding: 15px;
  }

  /*Dimensions des images illustrant les compétences*/
  img{
    height: 100px;
    width: 100px;
    padding: 15px;
  }

  /*Dimensions spéciales pour le logo CSS*/
  #csslogo{
    height: 107px;
    width: 76px;
  }

  #rubylogo{
    height: 80px;
    width: 80px;
  }

  #JSlogo{
    height: 80px;
    width: 80px;
  }

  [class*="entypo-"]:before{
    font-family: 'entypo', sans-serif;
  }

  td em {
    font-size: 0.95em;
  }

  /*Barre de navigation (sous forme de liste), sans marges externes et internes, transparente*/
  #navbar{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    overflow: hidden ;
    top: 0;
  }

  /*Elements de navigation sous forme de liste*/
  #button0,#button1,#button2,#button3{
    float: left;
  }

  #twitter,#mail,#about,#insta,#linkedin{
    float:right;
  }
  /*
  #button1,#button2,#button3,#twitter,#mail,#about,#insta,#linkedin{
    display: none;
  }*/

  /*Liens de la barre de navigation et liens du paragraphe*/
  #navbar li a, p a{
    display: inline-block;
    text-decoration: none;
    text-align:center;
    padding: 12px 14px;
  }

  #navbar li a{
    color:white;
  }

  p a {
    color:white;
  }

  #navbar .actif {
      background-color: black;
      color: white;
      background: rgba(0,0,0,.5);
  }


  .rubrique{
    position:relative;
    padding:3%;
    height:auto;
    width:auto;
    margin: 0 auto;
    margin-top: 17vh;
    display: block;
    color:white;
    text-align: center;
  }

  }

  table{
    margin: 0 auto;
  }

  span{
    display: none;
    margin: 0 auto;
  }

  #welcome{
    display: block;
  }

  #hw, #button0{
  font-family: 'Inconsolata';
  }

  #emaillink{
    height: 40px;
    width: 220px;
    display: none;
    border-radius: 5px;
    background: green;
    margin-right: 8px;
    text-align: center;
  }

  h2:not(#hw){
    margin: 0;
  }

  #downloadlink{
    height:40px;
    width: 250px;
    text-decoration: none;
    text-align: center;
    background-color: blue;
    border-radius: 5px;
    margin: 0 auto;
    color: white;
    animation: anim1 5s infinite; 
  }


  .credits{
    font-size: 0.90em;
  }

  #emaillink{
    height: 40px;
    width: 220px;
    display: none;
    border-radius: 5px;
    background: green;
    margin-right: 8px;
    text-align: center;
  }

  input, textarea:not(#sendbutton){
    background-color: rgba(255,255,255,.2);
    color: black;
    border: 0px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Raleway', sans-serif;
    width: 310px;
    resize: none;
  }

  #sendbutton{
    width: 100px;
    border: 0;
    background-color: blue;
    color: white;
    height: 30px;
    font-size: 1em;
    border-radius: 3px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }
}




/*@media all and (max-device-width: 960px)
{

  body{
        background: black no-repeat url("clouds2_blur_small.jpg") fixed;
  }

  #navbar{
    font-size: 0.5em;
  }

  #navbar li a, p a{
    padding: 5px 5px;
  }
  #mail{
    display: none;
  }
  
  .rubrique{
    margin-top: auto;
  }

  img{
    padding: 10px;
  }

  p{
    margin-bottom: 5px;
  }

  #navbar li{
    float: left;
  }

#button1,#button2,#button3,#twitter,#mail,#about,#insta,#linkedin{
  display: none;
}
  
}*/