@media screen and (max-width:1024px) {

    #entrance {
        display: none;
    }

    body {
        background: url(clouds2_blur_mid.jpg);
        background-attachment: fixed;
        color: white !important;
    }

    #downloadlink {
        animation: none;
    }
    .navbar {
        display: block;
    }
    .navbar li #button0 {
        transition: none;
    }
    .navbar li a {
        transition: none;
        color: white;
    }
    .navbar li a:hover {
        color: none;
    }
    #rubrique {
        background: 0;
        box-shadow: none;
        padding: 10px;
        display: block;
        height: auto;
    }

    #rubrique::before{
      background: 0;
    }

    #welcome{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    #hwDesktop{
      display: none;
    }

    #hwMobile{
      display: block;
    }

}

@media screen and (max-width:980px) {

    #twitter, #mail, #about, #insta, #linkedin, #emaillink, #github{
      float: none;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
    }

    .actif {
        border-radius: 5px;
    }

    #rubrique {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin-bottom: 20px;
        display: block;
        margin-top: 13vh;
    }

    input, textarea {
        width: 100%;
    }

}
