/**** CSS ****/

  /*RESET CSS*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::selection{
    background-color: black;
    color: yellow;
  }

  a{
    text-decoration: none;
    color: white;
  }

  #entrance{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
  }

  #entrance:before{
    content: '';
    background: url("clouds2.jpg")  no-repeat fixed;
    background-size: cover;
          -webkit-filter: blur(5px);
             -moz-filter: blur(5px);
              -ms-filter: blur(5px);
               -o-filter: blur(5px);
                  filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  #grandTitre{
    display: block;
    font-family: 'Satisfy', sans-serif;
    font-size: 5em;
    width: 435px;
    height: 115px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }

  #grandTitre a, #petitTitre a{
  	color: #B0FAFF;
  	transition: all 0.5s;
  }

  #grandTitre a:hover, #petitTitre a{
  	color: #D180C0;
  }

#petitTitre{
  display: none;
}


  /*Corps du site, arrière-plan, police générale*/
  body{
  	background: no-repeat url("clouds2.jpg") fixed;
    background-size: cover;
  	font-family: 'Open Sans', sans-serif;
    font-size: 1em;
  }

  /*Marges intérieures des cellules du tableau invisible */
  th,td{
    padding: 15px;
  }

  /*Dimensions des images illustrant les compétences*/
  img{
    width: 100px;
  }

  /*Dimensions spéciales pour le logo CSS*/
  #csslogo{
    width: 76px;
  }

  #arduinologo{
    width: 12%;
    background-color: white;
  }

  #JSlogo{
    width: 80px;
  }

  [class*="entypo-"]:before{
    font-family: 'entypo', sans-serif;
  }

  td em {
    font-size: 0.95em;
  }

  /*Barre de navigation (sous forme de liste), sans marges externes et internes, transparente*/
  #navbar{
  	list-style-type: none;
  	overflow: hidden ;
    display: none;
  }

  #navbar li #button0{
    font-family: 'Satisfy', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
  }

  /*Elements de navigation sous forme de liste*/
  #button0,#button1,#button2,#button3{
  	float: left;
  }

  #twitter,#mail,#about,#insta,#linkedin,#emaillink,#github{
    float:right;
  }

  /*Liens de la barre de navigation et liens du paragraphe*/
  #navbar li a{
  	display: inline-block;
  	text-align:center;
  	padding: 12px 14px;
    color:black;
    transition: all 0.5s;

  }


  #navbar .actif {
    color: white;
    transition-duration: 0.5s;
    background: rgba(0,0,0,.5);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  #navbar li a:hover{
    color:white;
  }

  .rubrique{
    position:relative;
    padding:20px;
    height:200px;
    width:960px;
    border-radius: 10px;
    margin: auto;
    margin-top: 17vh;
    /*display: block;*/
  	background: rgba(0,0,0,.4);
  	color:white;
    text-align: center;
    /*display: flex;
    justify-content: space-between;;
    align-items: center;*/
    display: none;

  }

  .rubrique:before{
    content: '';
  	background: url("clouds2.jpg")  no-repeat fixed;
    background-size: cover;
          -webkit-filter: blur(5px);
             -moz-filter: blur(5px);
              -ms-filter: blur(5px);
               -o-filter: blur(5px);
                  filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .rubrique div{
    display: none;
    margin: auto;
  }

  #welcome{
    display: block;
  }

  #hw {
  font-family: 'Inconsolata', sans-serif;
  color: white;
  }


  #downloadlink{

    text-decoration: none;
    text-align: center;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    animation: anim1 5s infinite;
    padding: 5px;
  }

  @keyframes anim1 {
      from {

          background: blue;
      }
      50%  {
          background: #009999;
      }
      to   {
          background: blue;
      }
  }

  .credits{
    font-size: 0.90em;
  }




  input, textarea{
    background-color: rgba(0,0,0,.1);
    color: black;
    border: 0px;
    margin: 10px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Raleway', sans-serif;
    width: 310px;
    resize: none;
    font-size: 0.90em;
  }

  input{
    height: 20px;
  }

  #sendbutton{
    border: 0;
    background-color: blue;
    color: white;
    height: 30px;
    width:100px;
    font-size: 1em;
    border-radius: 3px;
    margin: 0 auto;
    transition: all 1s;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }

  #sendbutton:hover{
    background-color: #009999;
  }

  #sendbutton:focus{
    background-color: #006666;
    color: #66ffff;
    transition: 0.5s;
  }
